.mxcw-map {
    height: 50%;
    flex: 1 1 240px;
}

.mxcw-data {
    height: revert;
    flex: 1 1 300px;
    overflow-y: auto;
}

.mxcw-leftPane {
}

body {
    overflow: hidden;
}

.mxcw-content {
    font-size: 24px;
    /** A bit more space for the footer **/
    height: calc(100vh - 145px);
}

.mxcw-widgetPane.mxcw-activeWidgetPane {
    display: flex;
}

.mxcw-widgetPane {
    flex-flow: row wrap;
    flex-direction: row;
    margin: 1.5em;
}

.mxcw-widgetPane > div {
/*  Better to control plot size in R
    scale: 75%;
    transform-origin: left top;*/
}

.mxcw-footer {
    padding: 10px;
}

img.data-pane {
    width: 235px;
}
