.mxcw-map {
    height: 80%;
    flex: 1 1 480px;
}

.mxcw-data {
    height: revert;
    flex: 0 1 550px;
    overflow-y: auto;
}

.mxcw-leftPane {
    height: 100vh;
}

body {
    overflow: hidden;
}

.mxcw-content {
    font-size: 24px;
}
