.mxcw-map {
    height: 50%;
    flex: 1 1 360px;
}

.mxcw-data {
    height: revert;
    flex: 1 1 580px;
    overflow-y: auto;
}

.mxcw-leftPane {
}

body {
    overflow: hidden;
}

.mxcw-content {
    font-size: 24px;
}
